body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-image: url(imagens/index/Prancheta1@4x.png);
}
.cima {
    margin-top: -10vh;
    transition: margin-top 0.5s;
}
 .navbar {
    background-image: linear-gradient(135deg, rgb(41, 41, 41) 45%, rgb(255, 251, 0) 45%);
    width: 100vw;
    height: 10vh;
    margin-top: 0;
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 15px solid;
    border-color: rgb(255,123,0);
}

/*Menu com o botão de 3 barras*/
.menu {
    background-color: transparent;
    width: 3.5vw;
    height: 7vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 1%;
    justify-content: space-evenly;
    transition: transform 0.5s ease;
}
span {
    width: 3vw;
    height: 0.3vh;
    background-color: white;
    display: flex;
    border-radius: 2px;
    transition: background-color 0.5s ease;
}
.navbar button{
    border: none;
}
.menu:hover span {
    background-color: rgb(255, 251, 0);
}

/*Animações do navbar menu e etc...*/
@keyframes largura-inicial{
    0% { height: 0.3vh;}
    100% { height: 0.5vh;}
}

@keyframes largura-final{
    0% { height: 0.5vh}
    100% { height: 0.3vh}
}

@keyframes flexe {
    0% { gap: 0px;}
    100% { gap: 1vw;}
}

@keyframes reflexe {
    0% { gap: 1vw;}
    100% { gap: 0px;}
}

@keyframes girar-menu {
    0% { rotate: 0;}
    100% { rotate: 90deg;}
}
@keyframes regirar-menu {
    0% { rotate: 90deg;}
    100% { rotate: 0;}
}
@keyframes borda-inicial {
    0% { border-right-width: 0px;}
    100% { border-right-width: 7px;}
}
@keyframes borda-final {
    0% { border-right-width: 7px;}
    100% { border-right-width: 0px;}
}


.categorias {
    position: fixed;
    top: 10vh;
    width: 18vw;
    height: 90vh;
    margin-left: -18vw;
    background-color: rgb(30, 30, 30);
    z-index: 9;
    border-right: 0px solid rgb(255,251,0);
}
.categorias:hover + .cima {
    margin-top: 0;
}
.categorias:hover + .ativador {
    height: 0;
}

@keyframes aparecer-categoria {
    0% { margin-left: -18vw;}
    100% { margin-left: 0;}
}
@keyframes desaparecer-categoria {
    0% { margin-left: 0;}
    100% { margin-left: -18vw;}
}

.linkando {
    width: 100%;
    height: 100%;
    margin: 10%;
}
.linkando a {
    position: relative;
    color: white;
    font-family: arial;
    font-size: 1.2vw;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 3vh;
}
.linkando a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0.2vh;
    bottom: 0;
    left: 0;
    background-color: yellow;
    visibility: hidden;
    transform-origin: left;
    transition: all 0.3s ease-in-out 0s;
}
.linkando a:hover::before {
    visibility: visible;
    width: 100%;
}
/*Outros itens da navbar*/

.titulo {
    position: absolute;
    margin-left: 12.5%;
    color: white;
    font-family: arial;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 10vh;
}
.links {
    margin-left: 45%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 7;
}
.links a {
    color: black;
    font-family: arial;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    transition: color 0.3s ease;
}
.links a:hover {
    color: rgb(255, 123, 0);
}
.ativador {
    width: 100vw;
    height: 10vh;
    position: fixed;
    margin-top: 10vh;
    z-index: 3;
    transition: top 0.5s ease, height 0.5s ease;
}
.cima:hover {
    margin-top: 0;
}
.cima:hover .ativador {
    height: 0;
}
.conteudo {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.conteudo a {
    font-size: 50px;
    font-family: arial;
    font-style: italic;
}
.conteudo p {
    font-size: 50px;
    font-family: arial;
    font-weight: bold;
    color: white;
}
.fundopreto {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 10vh;
    opacity: 0.9;
}
.conteudo2 {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.conteudo2 a {
    font-size: 50px;
    font-family: arial;
    font-style: italic;
}
.conteudo2 p {
    font-size: 50px;
    font-family: arial;
    font-weight: bold;
    color: white;
    margin: 10px;
}
.conteudo2 img {
    width: 400px;
    border-radius: 50%;
}